<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>

    <div class="content">
      <h2><%- title %> </h2>

      <% artifacts.forEach(character => { %> 
        <% characterArray = character.replace(/-/g, ' ') %> 
        <% if (characterArray.includes(" s ")) { %>
          <% characterArray = characterArray.replace(" s ", "'s ") // format with apostrophe correctly %> 
        <% } %>
        <% let count = 0; %> 
        <% let formattedArtifact = characterArray.split(' ') // split along the spaces %>  
        <% formattedArtifact.forEach(word => {%>  
          <% wordArray = word.split('') %> 
          <% let firstLetter = wordArray[0].toUpperCase() %> 
          <% wordArray.shift() %>
          <% formattedArtifact[count] = `${firstLetter}${wordArray.join('')}` %>
          <% count++ %>  
        <% }) %>
        <% formattedArtifact = formattedArtifact.join(' ') %>  
        <a href="<%- `/genshin-library/artifacts/${character}` %>"><p><%- formattedArtifact %>  </p></a>
      <% }); %> 

    </div>

    <script src="" async defer></script>
  </body>
</html>