<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="content">
      <h2><%- title %> </h2>

      <% characters.forEach(character => { %> 
        <% character = character.split('') %> 
        <% let firstLetter = character[0].toUpperCase() %> 
        <% character.shift()%>
        <p><%- `${firstLetter}${character.join('')}` %> </p>
      <% }); %> 
      
    </div>

    <script src="" async defer></script>
  </body>
</html>