<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="content">
      <h2><%- title %> </h2>

      <% characters.forEach(character => { %> 
        <% characterArray = character.replace(/-/g, ' ') %> 
        <% let count = 0; %> 
        <% let formattedChar = characterArray.split(' ') // split along the spaces %>  
        <% formattedChar.forEach(word => {%>  
          <% wordArray = word.split('') %> 
          <% let firstLetter = wordArray[0].toUpperCase() %> 
          <% wordArray.shift() %>
          <% formattedChar[count] = `${firstLetter}${wordArray.join('')}` %>
          <% count++ %>  
        <% }) %>
        <% formattedChar = formattedChar.join(' ') %> 
        <a href="<%- `/genshin-library/characters/${character}` %>"><p><%- formattedChar %></p></a>
      <% }); %> 
      
    </div>

    <script src="" async defer></script>
  </body>
</html>