<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="content">
      <h2><%- title %> </h2>
      <% characters.forEach(character => { %> 
        <p><%- character %> </p>
      <% }); %> 
    </div>

    <script src="" async defer></script>
  </body>
</html>