<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>

    <div class="content">
      <h2><%- title %> </h2>

      <% elements.forEach(element => { %> 
        <% let elementArray = element.split('') %> 
        <% let firstLetter = elementArray[0].toUpperCase() %> 
        <% elementArray.shift()%>
        <% const formattedElement = `${firstLetter}${elementArray.join('')}` %> 
        <a href="<%- `/genshin-library/elements/${element}` %>"><p><%- formattedElement %></p></a>
      <% }); %>  

    </div>
    
    <script src="" async defer></script>
  </body>
</html>