<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <div class="title-container">
    <h1><%= title %> </h1>
  </div>

  <nav>
    <ul>
      <li><a href="/genshin-library">Home</a></li>
      <li><a href="/genshin-library/characters">Characters</a></li>
      <li><a href="/genshin-library/artifacts">Artifacts</a></li>
      <li><a href="/genshin-library/elements">Elements</a></li>
      <li><a href="/genshin-library/nations">Nations</a></li>
    </ul>
  </nav>
</head>