<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>

    <div class="content">
      <h2><%- title %> </h2>
      <% nations.forEach(nation => { %> 
        <p><%- nation %> </p>
      <% }); %> 
    </div>

    <script src="" async defer></script>
  </body>
</html>